doctype html
html
    head
        title #{title}

    body
        h3 #{message}
        - var arr=['apple','banana','orange'];
        ul
            each val,index in arr
                li= index+', '+val