.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: all 250ms ease-in;
}
.fade-leave{
	opacity: 1;
  	transform:translateX(-320px);
  	z-index: 1;
}
.fade-leave.fade-leave-active {
  opacity: 0;
  transition: all 250ms ease-out;
}
*{
	margin:0;
	padding: 0;
}
.lead{
	padding: 10px;
	line-height: 1.5;
}