<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>欢迎用户: <%= title%>, 这里是网站首页...</h1>
    <ul>
        <% for(var i=0; i<arr.length; i++){%>
        <li><%= arr[i]%></li>
        <%}%>
    </ul>
    <a href="/user">用户信息</a>
</body>
</html>